@import 'react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';
body{
  background: lightgray!important;
}
.App{
  position: relative;
  height: 1200px;
}
.App-header {
  background-color: white;
  height:60px;
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
}
.color_blue{
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
  height: 200px;
  width: 100%;
  position: relative;
}
.links{
  display:flex ;
  align-items: center;
  justify-content: space-between;
  
}
.links a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.links a:hover{
  cursor: pointer;
  color: black;
  font-size: 21px;
}
.link{
  margin:auto;
  text-decoration: none;
  margin-right: 10px;
}
.header_logo{
  width: 40px;
  height: 40px;
}
.table_container{
  height: 650px;
  width: 70%;
  margin: auto;
  background-color: white;
  margin-top: -100px;
  position: absolute;
  left: 15%;
  border-radius: 10px!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.footer_container{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
  margin-top: 50px;
}
.button{
  border-radius: 18px!important;
}
.headerContainer{
  background-color: white;
  width: 100%;
}
.button_bottom{
  position: absolute;
  bottom: 310px;
  left: 50%;
  border-radius: 18px!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
